enable_logging=true
log_title=Kismet
log_prefix=/var/log/kismet/
log_types=kismet
log_template=%p/%n-%D-%t-%i.%l
kis_log_devices=true
kis_log_device_rate=30
kis_log_packets=true
kis_log_messages=true
kis_log_alerts=true
kis_log_datasources=true
kis_log_datasources_rate=30
kis_log_channel_history=true
kis_log_channel_history_rate=20
kis_log_gps_track=true
kis_log_system_status=true
kis_log_system_status_rate=30
log_config_present=true
